@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<img src="~/images/university.jpeg" class="img-fluid" />
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a four year university where you can
            achieve all of your wildest dreams
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Place to Be</h2>
        <p>Have you ever wanted to go to college? This is the place to do it. 
           You give us money, we give you a degree</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Catalog</h2>
        <p>Please see our courses tab to see all of the courses we offer here</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>